<h1>{{book.title}}</h1>
{{#each book.author}}
<div class="review-item">
  <p>{{this.name}}</p>
  <span>{{this.lastName}}</span>
</div>
{{/each}}
<p>{{book.description}}</p>

<a href="/books">Return</a>

{{!-- /*--book-detail.hbs--*/ --}}


<p>Add a review</p>
<form action="/reviews/add?book_id={{book._id}}" method="post">
  <label for="">User:</label>
  <input type="text" name="user">

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>

<h2>Reviews</h2>
{{#each book.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}}